*  {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', Arial;
  font-size: 14px;
}

.LoginInputIcon  {
  margin-left: 0.5rem;
  position: absolute;
  font-size: 19px;
}

.GDCheckboxIcon {
  color: transparent; 
}

.GDCheckboxIconSelected {
  color: white;
}

.BoxExpandIcon {
  font-size: 19px;
  margin-right: 1rem;
  cursor: pointer;
}

.BoxCloseIcon {
  font-size: 24px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.ResolveCheckboxIcon {
  color: white;
}